nav {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.nav-left {
    width: 50%;
}

.nav-right {
    width: 30%;
    justify-content: space-between;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Alata';
}