.main-content {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 180px;
}

.left {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 4rem;
    position: relative;
    right: 10.2rem;
    top: 10rem;
    height: 50vh;
}

.left h1 {
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    line-height: 1.1;
    width: 50%;
}

.left p {
    color: #909090;
    margin-top: 1rem;
    line-height: 1.6;
    letter-spacing: 0.2px;
    font-family: 'Alata';
    font-weight: 600;
    width: 50%;
}